<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="home">
    <div class="home-text">
        <h1>Funiania Ballistics</h1>
        <p>- веб-застосунок, розроблений для громадян України задля забезпечення власної безпеки та близьких.</p>

        <h2>Застосування</h2>
        <ul>
            <li><strong>Калькулятор</strong> — для врахування наслідків після прильоту балістики</li>
            <li><strong>Балістичне Wiki</strong> — для ознайомлення та покращення знань у військовій сфері</li>
        </ul>
    </div>
    <div class="home-image">
        <img src="{{ url_for('static', filename='img/hero.png') }}" alt="військовий">
    </div>
</div>
{% endblock %}
