{% extends "base.html" %}

{% block content %}
<div class="hero-section">
    <div class="home">
        <div class="home-text">
            <h1 class="gradient-title">CivilBallistics</h1>
            <p class="intro-text">
                Інноваційний веб-застосунок для громадян України, створений для підвищення обізнаності та безпеки у часи загроз. Ми прагнемо зробити знання доступними, а реагування — оперативним.
            </p>

            <div class="features">
                <h2>Можливості</h2>
                <ul>
                    <li><strong>Калькулятор</strong> — моделює наслідки після вибухів та визначає зону потенційної небезпеки.</li>
                    <li><strong>Балістика Wiki</strong> — база знань про ракети, системи ППО, поради з укриття.</li>
                </ul>
            </div>
        </div>
        <div class="home-image">
            <img src="{{ url_for('static', filename='img/hero.png') }}" alt="військовий" loading="lazy">
        </div>
    </div>
</div>
{% endblock %}